html
  head
    title Trivia Database Questions
  body
    each item in questions
      p #{item.category}
      p #{item.difficulty}
      p #{item.question}
      p #{item.correct_answer}
      p #{item.incorrect_answers}
      br
      br
